 /*------------ /*--------- WPRESS Blog Images (Simple Crud)  + Vue Crud Panel  ---------------  */

 
 

 
 /*======================  WPRESS Blog Images CRUD INDEX (Simple Crud) ==================*/
 /*--Color each second div  odd/even*/
.one-row:nth-child(odd) {
  background-color: #F0F8FF;
}

.one-row:hover{
	background:yellow;
    /* animate smoothly */
	transition: 1.25s;
   -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.my-head{background: #00FFFF; }

 /*--images in main gii panel*/
.image-main-gii {width: 26%;}

.over-scroll{overflow-x: scroll; width:2000px;} /* not used ? */
.padding {padding:0.6em;}
.borderX {border: 0.5px solid grey; margin-bottom: 1em;}

/* ---- Shadow CSS */
.shadowX {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);
			border-radius:15px;
}


 /* Mobile */
 @media screen and (max-width: 480px) { 
     .image-main-gii {width: 6%;}
 }
 
 
 
 
 
 
 
 
 
 /*=============================  WPRESS Blog, View One Blog Record (Simple Crud)   ======================= */
.image-main  {width:15%; border: 1px solid black; margin-bottom:0.4em;}
.image-others{width:8%;  border: 1px solid black; }
.image-to-remove-from-db      { cursor:pointer; transition: 0.65s;}       /* button "Remove image" */
.image-to-remove-from-db:hover{ color:red; background:yellow; transition: 1.25s;} /* button "Remove image" */

/* Wpress span text */
.smallX{
	font-size:0.7em; margin-top:-0.8em;
}
.img-wpblog{width: 8%;}
.white{color:white;}



 /*=============================  WPRESS Blog, CREATE (Simple Crud)  ======================= */

.preview-x {width:15%; margin:0.6em 1em;}












 /*=============================  Vue GII CRUD PANEL   ======================= */


/* -- Loader */
.loader-x  {position:absolute; top:16em; left:40em;width:99%; display:none;}
.loader-x img {width:13%;}

/* ---------------------------------------- Mobile */
@media screen and (max-width: 480px) { 
  .loader-x  {position:absolute; top:16em; left:8em; width:99%;}
  .loader-x img {width:43%;}  
}
 